<div class="main-content">
	@if (data.length === 0) {
		<div class="file-upload">
			<p-fileUpload
				mode="basic"
				[auto]="true"
				[customUpload]="true"
				accept="text/csv"
				(uploadHandler)="onUpload($event)"
				chooseLabel="Browse"
			/>
		</div>
	} @else {
		<table class="table">
			<thead>
				<tr>
					<td rowspan="2">Характеристика</td>
					<td rowspan="2"></td>
					<td colspan="6">Количество случайных величин</td>
				</tr>
				<tr>
					@for (val of commonInterval; track val) {
						<td>{{val}}</td>
					}
				</tr>
			</thead>
			<tr>
				<td rowspan="2">Мат.ож.</td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{meanValue()(data.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{meanValue()(data.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(meanValue(), data.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дисперсия</td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{norm_dispersion()(data.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{norm_dispersion()(data.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(norm_dispersion(), data.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">С.к.о. </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{sko()(data.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{sko()(data.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(sko(), data.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">К-т вариации </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{cov()(data.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{cov()(data.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(cov(), data.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дов. инт. (0,9) </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>&plusmn;{{apply_val()(data.slice(0, val), 0.9).toFixed(3)}}</td>
				}
				<td rowspan="2">&plusmn;{{apply_val()(data.slice(0, commonInterval[-1]), 0.9).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative_apply_val()(data.slice(0, val), 0.9).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дов. инт. (0,95) </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>&plusmn;{{apply_val()(data.slice(0, val), 0.95).toFixed(3)}}</td>
				}
				<td rowspan="2">&plusmn;{{apply_val()(data.slice(0, commonInterval[-1]), 0.95).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative_apply_val()(data.slice(0, val), 0.95).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дов. инт. (0,99) </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>&plusmn;{{apply_val()(data.slice(0, val), 0.99).toFixed(3)}}</td>
				}
				<td rowspan="2">&plusmn;{{apply_val()(data.slice(0, commonInterval[-1]), 0.99).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative_apply_val()(data.slice(0, val), 0.99).toFixed(3)}}</td>
				}
			</tr>
		</table>

		<p-chart type="line" [data]="displayData" />
		<p-chart type="bar" [data]="displayDataBar" />

		<table class="table">
			<thead>
				<tr>
					<td>
						Сдвиг ЧП
					</td>
					@for (_ of [].constructor(10); track _; let index = $index) {
						<td>{{index + 1}}</td>
					}
				</tr>
			</thead>

			<tr>
				<td>
					К-т АК для задан. ЧП
				</td>
				@for (_ of [].constructor(10); track _; let index = $index) {
					<td>{{auto_cov()(data, index + 1).toFixed(3)}}</td>
				}
			</tr>
		</table>

		<p-chart type="line" [data]="displayDataAutoCov" />

		<table class="table">
			<thead>
				<tr>
					<td>
						Коэффициент вариации
					</td>
					<td>
						k
					</td>
					<td>
						k1
					</td>
					<td>
						k2
					</td>
					<td>t1</td>
					<td>t2</td>
					<td>a1</td>
					<td>a2</td>
				</tr>
			</thead>
			<tr>
				<td>
					{{var_coef(data).toFixed(3)}}
				</td>
				<td>
					[{{1 / (var_coef(data) * var_coef(data))}}] = 3
				</td>
				<td>2</td>
				<td>1</td>
				<td>
					{{t1(data)}}
				</td>
				<td>
					{{t2(data)}}
				</td>
				<td>
					{{1 / t1(data)}}
				</td>
				<td>
					{{1 / t2(data)}}
				</td>
			</tr>
		</table>

		<p-chart type="line" [data]="randDisplayData" />
		<p-chart type="bar" [data]="randDisplayDataBar" />
		<p-chart type="bar" [data]="bothDisplayDataBar" />

		<table class="table">
			<thead>
			<tr>
				<td rowspan="2">Характеристика</td>
				<td rowspan="2"></td>
				<td colspan="6">Количество случайных величин</td>
			</tr>
			<tr>
				@for (val of commonInterval; track val) {
					<td>{{val}}</td>
				}
			</tr>
			</thead>
			<tr>
				<td rowspan="2">Мат.ож.</td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{meanValue()(randData.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{meanValue()(randData.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(meanValue(), randData.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дисперсия</td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{norm_dispersion()(randData.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{norm_dispersion()(randData.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(norm_dispersion(), randData.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">С.к.о. </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{sko()(randData.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{sko()(randData.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(sko(), randData.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">К-т вариации </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{cov()(randData.slice(0, val)).toFixed(3)}}</td>
				}
				<td rowspan="2">{{cov()(randData.slice(0, commonInterval[-1])).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative(cov(), randData.slice(0, val)).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дов. инт. (0,9) </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>&plusmn;{{apply_val()(randData.slice(0, val), 0.9).toFixed(3)}}</td>
				}
				<td rowspan="2">&plusmn;{{apply_val()(randData.slice(0, commonInterval[-1]), 0.9).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative_apply_val()(randData.slice(0, val), 0.9).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дов. инт. (0,95) </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>&plusmn;{{apply_val()(randData.slice(0, val), 0.95).toFixed(3)}}</td>
				}
				<td rowspan="2">&plusmn;{{apply_val()(randData.slice(0, commonInterval[-1]), 0.95).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative_apply_val()(randData.slice(0, val), 0.95).toFixed(3)}}</td>
				}
			</tr>

			<tr>
				<td rowspan="2">Дов. инт. (0,99) </td>
				<td>Знач.</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>&plusmn;{{apply_val()(randData.slice(0, val), 0.99).toFixed(3)}}</td>
				}
				<td rowspan="2">&plusmn;{{apply_val()(randData.slice(0, commonInterval[-1]), 0.99).toFixed(3)}}</td>
			</tr>
			<tr>
				<td>%</td>
				@for (val of commonInterval.slice(0, -1); track val) {
					<td>{{relative_apply_val()(randData.slice(0, val), 0.99).toFixed(3)}}</td>
				}
			</tr>
		</table>

		<table class="table">
			<thead>
				<tr>
					<td>
						Коэффициент корреляции
					</td>
				</tr>
			</thead>
			<tr>
				<td>
					{{covar_coef(data, randData).toFixed(3)}}
				</td>
			</tr>
		</table>

		<p-chart type="line" [data]="randDisplayDataAutoCov" />
		<table class="table">
			<thead>
			<tr>
				<td>
					Сдвиг ЧП
				</td>
				@for (_ of [].constructor(10); track _; let index = $index) {
					<td>{{index + 1}}</td>
				}
			</tr>
			</thead>

			<tr>
				<td>
					К-т АК для задан. ЧП
				</td>
				@for (_ of [].constructor(10); track _; let index = $index) {
					<td>{{auto_cov()(data, index + 1).toFixed(3)}}</td>
				}
			</tr>
			<tr>
				<td>
					К-т АК для сгенерир. ЧП
				</td>
				@for (_ of [].constructor(10); track _; let index = $index) {
					<td>{{auto_cov()(randData, index + 1).toFixed(3)}}</td>
				}
			</tr>
		</table>
	}
</div>
